*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url(./img/pexels-mikechie-esparagoza-1742370.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    
    
}

.backimg{
    position: relative;
    margin: auto;
    height: 625px;
    width: 100%;
    overflow: hidden;   
    display: flex;
    flex-direction: column;
    
    /* border: 1px solid black; */
}
.quote{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(243, 243, 243, 0.2);
    width: 80%;
    height: 250px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgb(141, 141, 141,0.3);
}
.quote::-webkit-scrollbar {
    display: none;
}
p{
    font-size: 3em;
    color: white;
    padding: 0.2em;
}
span{
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}
#btn{
font-size: 1em;
padding: 1em;
background-color: transparent;
border: 1px solid rgb(255, 255, 255);
border-radius: 5px;
color: rgb(255, 255, 255);
font-weight: bolder;
transition: 0.6s ease; 
position: fixed;
top: 300px;
}
#btn:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
    
}
.btn{
    width: 80%;
    margin: 0px auto;
    /* border: 10px solid white; */
    display: flex;
    justify-content: center;
}
.loader{
    width: 100%;
    margin: 100px 0px;
    display: none;
    justify-content: center;
    position: absolute;
    
    /* position:absolute;
    left: 630px;
    top: 150px;
    width: 100px;
    display: block; */
    /* border: 1px solid white; */
}
.loader4 {
    width:50px;
    height:50px;
    display:inline-block;
    padding:0px;
    border-radius:100%;
    border:5px solid;
    border-top-color:rgb(5, 191, 238,1);
    border-bottom-color:rgba(255,255,255, 0.3);
    border-left-color:rgb(5, 191, 238,1);
    border-right-color:rgba(255,255,255, 0.3);
    -webkit-animation: loader4 1s ease-in-out infinite;
    animation: loader4 1s ease-in-out infinite;
 }
 @keyframes loader4 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
 }
 @-webkit-keyframes loader4 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
 }

@media screen and (max-width: 425px){
    p{
        font-size: 1em;
    }
    span{
        font-size: 1em;
    }
    #btn{
        font-size: 1em;
        }
    /* .loader{
        position:absolute;
        left: 184px;
        top: 150px;
        width: 100px;
        display: block;
        border: 10px solid white;
    } */
}
/* @media screen and (max-width: 320px){
    .loader{
        position:absolute;
        left: 100px;
        top: 125px;
        width: 100px;
        display: block;
        border: 10px solid white;
    }
} */
/* @media screen and (max-width: 375px){
    .loader{
        position:absolute;
        left: 160px;
        top: 150px;
        width: 100px;
        display: block;
        border: 10px solid white;
    }
} */
/* @media screen and (max-width: 768px){
    .loader{
        position:absolute;
        left: 0px;
        top: 150px;
        width: 100px;
        display: block;
        border: 10px solid white;
    }
} */
/* @media screen and (max-width: 1024px){
    .loader{
        position:absolute;
        left: 500px;
        top: 150px;
        width: 100px;
        display: block;
        border: 10px solid white;
    }
} */